<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <img id="info" src="../../../assets/img/Informações_imgApp.png" alt="Informação">
      <div id="title">
        <p>O QUE É?</p>
      </div>
      <p id="iu">
        Aplicação desenvolvida a partir das mais novas ferramentas de desenvolvimento multe-plataforma através de tecnologias de desenvolvimento web.
      </p>
      <div id="icons">
        <ion-icon name="logo-android" size="large"></ion-icon>
        <ion-icon name="logo-angular" size="large"></ion-icon>
        <ion-icon name="logo-ionic" size="large"></ion-icon>
        <ion-icon name="logo-javascript" size="large"></ion-icon>
      </div>
        <p id="ui">
          <ion-icon name="code-outline"></ion-icon>
          Rodrigo Silva Coelho
          <ion-icon name="code-outline"></ion-icon> <br>
          Quixeramobim-CE
        </p>
    </ion-card-content>
  </ion-card>
</ion-content>
